* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#left-side {
    width: 60%;
    margin: 381px 131px 123px 136px;
}

#right-side {
    width: 40%;
    background-color: rgba(93, 93, 125, 0.4);
    
}

.link-header {
    font-weight: 400;
    font-size: 28px;
    line-height: 41.5px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}

header {
    margin: 24px 58px 150.88px 57px;
}

img {
    position: relative;
    right: 138px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
    height: 160px;
}

p {
    width: 540px;
    height: 144px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 60%;
}

button {
    width: 269px;
    height: 62px;
    background-color: #9499EA;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 35.57px;
    border-radius: 39px;
}